<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You For Signing Up - Dubai Properties</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <!-- <link rel="stylesheet" href="signup-success.css"> -->
  <style>
    body {
        background-color: #f0f7ff;
    }
  </style>
</head>
<body>
  <header>
    
  </header>

  <main>
    <div class="container">
      <div class="box">
        <img src="{{ url_for('static', filename='images/logo_DP2.png') }}" alt="Dubai Properties" class="logo">
        <h1>Thank You For Signing Up!</h1>
        <p>You will now receive the latest updates on the best properties in Dubai.</p>
        <a href="/">Back to Home</a>
      </div>
    </div>
  </main>
</body>
</html>
